# This workflow will build and push an application to Azure Container Registry and deploy to AKS

name: Build and deploy to Azure Kubernetes Service

on: 
  push:
    branches: ["main"]
  workflow_dispatch: 

env:
  REGISTRY: ${{ secrets.ACR_LOGIN_SERVER }}  # Azure Container Registry
  IMAGE_NAME: dot-net-core-microservice
  DEPLOYMENT_MANIFEST_PATH: "k8s/all.yaml"  # Update with your manifest path

jobs:
  build: 
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses:  actions/checkout@v4

      - name: Log in to Azure Container Registry
        uses: docker/login-action@v3
        with: 
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images:  ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=sha,prefix={{branch}}-
            type=ref,event=branch
            type=semver,pattern={{version}}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: . 
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  deploy:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with: 
          version: 'latest'

      - name: Get AKS credentials
        run: |
          az aks get-credentials --resource-group ${{ secrets.AZURE_RESOURCE_GROUP }} --name ${{ secrets.AKS_CLUSTER_NAME }}

      - name: Deploy to AKS
        run: |
          # Update the image in the manifest
          sed -i "s|REPLACE_IMAGE|${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:main-${{ github.sha }}|g" ${{ env.DEPLOYMENT_MANIFEST_PATH }}
          kubectl apply -f ${{ env.DEPLOYMENT_MANIFEST_PATH }}
          kubectl rollout status deployment/dot-net-core-microservice -n dotnet-demo
